.btn {
    &-facebook {
        @include button-variant($white, $facebook, $facebook);
    }

    &-twitter {
        background-color: $twitter;
        @include button-variant($white, $twitter, $twitter);
    }

    &-google-plus {
        background-color: $google-plus;
        @include button-variant($white, $google-plus, $google-plus);
    }

    &-slidein {
        font-size: 30px;
        background: none;
        border: 0;
        outline: none !important;
        margin-left: -4px;
    }

    &-file {
        overflow: hidden;
        position: relative;
    }

    &-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        outline: none;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: white;
        cursor: inherit;
        display: block;
    }
}
