@font-face {
    font-family: 'adequate';
    src: url('/fonts/adequate-webfont.eot');
    src: url('/fonts/adequate-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/adequate-webfont.woff2') format('woff2'),
    url('/fonts/adequate-webfont.woff') format('woff'),
    url('/fonts/adequate-webfont.ttf') format('truetype'),
    url('/fonts/adequate-webfont.svg#adequateextra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
