$black: #000;
$white: #fff;
$hovergray: #d5d6dd;
$seafoam: #71EEB8;
$textgray: #676767;
$icongray: #4d4d4d;


// Branding


// Third party branding
$facebook: #3b5998;
$twitter: #55acee;
$google-plus: #dc4e41;

$link-hover-decoration: none !default;
