.wrapper-classname{
    text-align: left;
    font-family: adequate;
    padding-top: 50px;
    color: black;
}

.wrapper-classdescrip{
    text-align: left;
    font-family: adequate;
    padding-top: 50px;
    padding-left: 15px;
    color: lighten(black, 10%);

     h4{
         word-wrap: break-word;
     }
}

.img-upload{
    padding-top: 20px;
}

.plus{
    color: grey;
}

.list-group a{
    color: inherit;
}