.comment-wrapper{
    min-height: 140px;
    background-color: white;
    border: 1px solid lighten(lightgray, 8%);
    margin-bottom: 20px;
}

.comment-add-wrapper{
    padding: 20px;
    border-bottom: 1px solid dimgray;
    margin-bottom: 20px;
}

.comment-content{
    margin: 20px;
}

.comment-img{
    width: 100px;
    border-radius: 50%;
    height: auto;
    margin-right: 40px;
    float: left;
}

.comment-fullname{
    margin-top: 40px;
    color: darken($seafoam, 30%);
    &:hover{
        color: darken($seafoam, 30%);
    }
    display: inline;
}

.small-icon-wrapper{
    display: inline;

    .badge{
        display: inline;
    }
}

.small-icon{
    margin-left: 10px;
    font-size: .8rem;
    background: transparent;
    border: none !important;
    outline: none !important;
}

.lightgray-faint{
    color: lighten(dimgray, 20%);
    font-size: .8rem;
}

