.content-row{
  border-color: lightgrey !important;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
}

.messagerow {
  border-color: $seafoam;
  border-style: solid;
  border-width: 1px;
  margin-left: 2% !important;
  margin-right: 2% !important;
}

.rowcenter {
  padding-top: 2.5%;
  text-align: right;

}

.block {
  background-color: #F2F3F4;
}

.img-circle {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.messagebody{
  padding-top: 2.5%;
  padding-left: 2px !important;
}

.messageuser{
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 2% !important;
}

.conversation p{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messages a{
  text-decoration: none;
}

.form-btn-stack{
  margin-left: 5px;
  vertical-align: middle;
  position: absolute;
  left:90%;
  bottom: calc(50% - 0.5rem);
}