.summary-box{
    width: 100%;
    height: 100px;
    overflow: scroll;
    text-align: center;
    //border: 1px solid darken($seafoam, 10%);
}

.title{
    text-align: center;
}

.chapter-box{
    h4{
        a{
            color: $icongray;
        }
    }

}
.panel-title{
    a{
        color: $textgray;
    }
}


.lesson-title{
    //border: 1px solid darken(black, 20%);
    background-color: lightgrey;
}

.lesson-box{
    border: 10px solid darken($seafoam, 0%);
    font-size: medium;
    height: 100%;
    //border-radius: 10%;
}
