.forum-page{
  font-size: 30px;
}
.text-center{
  text-align: center;
}
h6{
  color:dimgrey;
  small{
    color:darkgrey;
  }
}
.body-wrap{
  color:black;
    word-wrap: normal;
}

.left{
  position: absolute;
  right:100px;
  padding-top: 0px;
}

.align{

}

