.grade-sidebar{
    height: 100%;
    line-height: 2em;
    padding: 0;
    margin: 0;
    overflow: auto;
    list-style: none !important;
}

.grade-link-element.darkened {
    text-align: center;
    color: lighten(#4d4d4d, 10%);
    width: 100%;
    background-color: lightgray;

    &:hover{
        background-color: darken(lightgray, 15%);
    }
}

.grade-link-separator{
    text-align: center;
    color: lighten(#4d4d4d, 10%);
    width: 100%;
    background-color: lighten(lightgray, 5%);
}

.grade-link-element {
    text-align: center;
    color: #4d4d4d;
    width: 100%;

    &:hover{
        background-color: darken(lightgray, 15%);
    }
}

.grade-display{
    height: 100%;
    box-shadow: -1px 0 3px rgba(0, 0, 0, 0.6);

    table {
        width: 100%;
        overflow: auto;

        a{
            display: inline-block;
            text-decoration: none;
            color: inherit;
        }
    }

    td, th {
        word-break: normal;
        border:1px solid lightgray;
        padding: 10px;
        width: 1rem;
    }

    td{
        vertical-align: middle;
    }
}