.header-tile {
    height: 300px;
    text-align:center;
    margin: 0 !important;

    .img-upload{
        @media (max-width: 767px){
            display: none;
        }
    }
}
.profile-img {
    display: block;
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    height: 200px;
    width: 200px;
}

.wrapper-name{

    position: relative;
    top: 38px;

    .fullname {
        margin-bottom: auto;
        text-align: center;
        color: lightgray;
    }
}

.heading-center{
    font-weight: 100;
    text-align: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem !important;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid lighten(#808080, 20%);

    h2{
        display: inline-block;
    }
}

.border-top{
    border-top: 1px solid lighten(#808080, 30%);
}

.blank-panel{
    background-color: #e5e5e5;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 200px;
    width: 100%;
    font-family: adequate;
    display: block;
    text-align: center;

    h5{
        padding-top: calc(100px - 0.625rem);
    }
}

.full-width{
    width: 100%;
}

.hidden{
    display: none;
}

.break-all{
    word-break: break-all;
    float: inherit;
}