html{
    display: inline-block;
}

.home {
    height: calc(100vh - 3rem);

    background: linear-gradient(41deg, #71eeb8, #8e8e8e);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 97% 0%
        }
        50% {
            background-position: 4% 100%
        }
        100% {
            background-position: 97% 0%
        }
    }
    @-moz-keyframes AnimationName {
        0% {
            background-position: 97% 0%
        }
        50% {
            background-position: 4% 100%
        }
        100% {
            background-position: 97% 0%
        }
    }
    @-o-keyframes AnimationName {
        0% {
            background-position: 97% 0%
        }
        50% {
            background-position: 4% 100%
        }
        100% {
            background-position: 97% 0%
        }
    }
    @keyframes AnimationName {
        0% {
            background-position: 97% 0%
        }
        50% {
            background-position: 4% 100%
        }
        100% {
            background-position: 97% 0%
        }
    }
}