.home-tile {
    left: 0;
    top: 0;
    bottom: 0;



    ul{
        li {
            background: $white;
            border: 1px solid darken ($white, 10%);
            display: block;
            text-decoration: none;
            font-size: 30px;
            a {
                padding: 10px;
                color: black;
            }
            &:hover {
                background-color: $hovergray;
            }
        }
    }



}