.pane {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}
.pane:after {
    content:'';
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.pane .pane-image {
}
.pane .pane-image img {
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
}
.pane .pane-text {
    font-family:adequate;
    font-weight: lighter;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
    transition: top 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
}
.pane .pane-text .pane-text-main {
    font-size: 1.3rem;
}
.pane .pane-text .pane-text-sub {
    font-size: .8rem;
    margin-top: 20px;
    border-top: 1px solid #fff;
    padding-top: 11px;
    opacity: 0;
    transition: margin-top 0.2s, opacity 0.3s;
}
.pane:hover .pane-text {
    top: 45%;
}
.pane:hover .pane-text .pane-text-sub {
    opacity: 1;
    margin-top: 10px;
}
