.lesson-name{
    text-align: left;
    font-family: adequate;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom:  1px solid lighten(#808080, 30%);
}

.video-iframe{
    height: 800px;
    width: 100%;
}

.iframe-wrap{

}