.login {
    background: $white;
    padding: 1rem;

    .nav {
        &-item {
            width: 49%;
            padding: 20px 0;
            text-align: center;
        }

        .forgot{
            width: 100%;
            background-color: #eee;
        }

        .active{
            background-color: #eee;
        }
    }
}
