.dropdown-notifs {

    display: inline-block;
    width: 65%;

    @include media-breakpoint-down(xs) {
        display: none;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }

    @media (min-width: 1218px){
        padding-left: 25%;
    }
}

.dd-icon{
    font-size: 1.8rem;
    color: $icongray !important;
    float: right;

    &:hover{
        color: $textgray !important;
    }
}

.notifications {
    min-width: 420px;

    .fa-arrow-circle-o-right {
        margin-left: 10px;
    }
}

.dropdown-menu {

    left: initial !important;
    right: 0;

    .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .notifications-wrapper {
        overflow: auto;
        max-height: 250px;
    }

    .menu-title {
        color: $textgray;
        text-align: center;
    }

    .notification-heading, .notification-footer {
        padding: 2px 10px;
    }

    .dropdown-menu.divider {
        margin: 5px 0;
    }

    .item-title {
        color: #000;
    }

    .item-info{
        text-align: center;
    }

    .notif-img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .notifications a.content {
        text-decoration: none;
        background: #ccc;

    }

    .notification-item {
        padding: 10px;
        margin: 5px;
        background: #ccc;
        border-radius: 4px;
    }

    a{
        li{
            padding-left: 10px;
            color: black;


            &:hover{
                background-color: lighten(lightgray, 5%);
            }
        }
    }
}

.icon-dropdown-toggle{

}

/*
.icon-dropdown-menu{
    position:relative;
    left: initial !important;
    right: 0;

    .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
}

.list-button{
    background:none!important;
    border:none;
    padding:0!important;
    width: 100%;
    height: 100%;
}
*/

.gooby{
    display: inline-block;
    padding-right: 50px;
}
