.sidebar-nav{
	background: #71EEB8;
	left: 0;
	top: 0;
	bottom: 0;
    overflow-y: auto;
    height: calc(100% - 49px);


	ul{
		li{
			border-bottom: 1px solid darken(#71EEB8, 30%);
			a{
				display: block;
				padding: 6px;
                padding-left: 9px;
				text-decoration: none;
				color: darken(#808080, 20%);
				font-size: 30px;

				.icon-class{
					font-size: 15px;
					padding-left: 4px;
					color: darken(#808080, 10%);
				}

				&:hover{
					background-color: #8BFFD2;
				}
			}
		}
	}
}

.app{

    overflow: hidden;

    &.expanded {

        .fixed-content {
            left: 225px;
            box-shadow: -3px 0 3px rgba(black, 0.6);
        }
    }

    .fixed-sidebar {
        width: 240px;
        float: left;
    }

    .fixed-content {
        float: left;
        position: absolute;
        background: #eee;
        height: calc(100% - 49px);
        width: calc(100% - 60px);
        right: 0;
        left: 60px;
        transition: left 0.4s, box-shadow 0.2s;
        box-shadow: -1px 0 3px rgba(black, 0.6);
        overflow-y: auto;

        @include media-breakpoint-down(xs) {
            transition: width 0.5s;
            width: 100%;
            transition: left 0.5s;
            left: 0;
        }
    }
     .content-padding{
         padding: 1rem;
     }
}
