.topbar-nav{
    background: #58D59F;
    z-index: 100;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;

    .dropdown-menu:after{
        display: none !important;
    }

    .dropdown-menu:before{
         display: none !important;
    }

    .caret{
        display: none;
    }

    h2{
        text-align: center;
        font-size: 1.9rem;
        font-family: adequate;
        z-index: 1;
        margin: 0;
        margin-left: 60px;

        @include media-breakpoint-down(xs){
            margin-left: 0px;
        }

        a{
            color: inherit;
            text-decoration: none;
        }
        
        a:hover{
            text-decoration: none;
        }
    }

    .btn-slidein{
        border-right: 1px solid #808080;
        padding-right: 16px;
        float: left;
    }
}

.z-100{
    z-index: 100;
}

.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

#notif-count{
    display: inline-block;
}

.w-34{
    width: 34px !important;
    height: 34px !important;
    border-radius: 50%;
}

.vert-top{
    vertical-align: top;
    float: right;

    @media (min-width: 997px){
        padding-right: 10%;
    }

}