.twitter-typeahead{
  width: 100%;
}

.typeahead {
  background-color: #fff;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#tt-general-search{
  max-width: 300px;
  width: 100%;
  float: left;
  margin: 0 0 0 15px;
}

.tt-hint {
  color: #999
}

.no-results{
  line-height: 56px;
}

.tt-menu{
  width: 100%;
}

.btn-small-plus{
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  color: dimgray;
}

.tt-dataset-users{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 10px;
  border-radius: 8px;
}

.tt-dataset-classes{
  position: absolute;
  left: 0;
  right: 0;
}

.suggestion-fullname{
  vertical-align: middle;
  display: inline;
  padding-left: 40px;
}

.suggestion-classname{
  vertical-align: middle;
  display: inline;
  padding-left: 40px;
  color: dimgray;
}

.tt-suggestion {
  padding: 8px 20px;
  background-color: white;
  border-bottom: 1px solid lighten(lightgray, 8%);
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


.class-search-result{
  background-color: #eee;

}